<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sunimali.petrays">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity" />
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".VerifySMSActivity" />
        <activity android:name=".SetProfileActivity" />
        <activity android:name=".toolbarLayoutActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".AppointmentHistoryActivity" />
        <activity android:name=".AppointmentMenuActivity" />
        <activity android:name=".deleteViewEditPetProfileActivity" />
        <activity android:name=".editPetProfileActivity" />
        <activity android:name=".HomeVisitRequest1Activity" />
        <activity android:name=".homeVisitRequest2Activity" />
        <activity android:name=".MyPetsActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".viewPetProfileActivity" />
        <activity android:name=".doctorInfoActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".appointment_history" />
        <activity android:name=".appointment_menu" />
        <activity android:name=".delete_view_edit_pet_profile" />
        <activity android:name=".edit_pet_profile" />
        <activity android:name=".home_visit_request1" />
        <activity android:name=".NewPetActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".HomeVisitRequest" />
        <activity android:name=".AppointmentActivity"></activity>
    </application>

</manifest>